In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://zlt29062:16jj@j7m2z4qskjb@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: zlt29062@BLUDB'

In [6]:
%sql SELECT COUNT(*) from CRIME

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [7]:
%%sql
SELECT *
FROM CRIME
LIMIT 10

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

In [8]:
%%sql
SELECT COUNT(*)
FROM CRIME
WHERE arrest='TRUE'

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

In [26]:
%%sql
SELECT *
FROM CRIME
WHERE location_description='GAS STATION'

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(7505841, 'HS308747', '05/15/2010 09:15:00 AM', '004XX E 95TH ST', '890', 'THEFT', 'FROM BUILDING', 'GAS STATION', 'FALSE', 'FALSE', 633, 6, 9, 49, '6', 1180667, 1842071, 2010, '02/10/2018 03:50:01 PM', Decimal('41.72189586'), Decimal('-87.61384102'), '(41.721895856, -87.613841024)'),
 (4153041, 'HL005270', '07/12/2005 11:00:00 PM', '008XX N CICERO AVE', '820', 'THEFT', '$500 AND UNDER', 'GAS STATION', 'FALSE', 'FALSE', 1111, 11, 37, 25, '6', 1144207, 1904963, 2005, '02/10/2018 03:50:01 PM', Decimal('41.89523990'), Decimal('-87.74581479'), '(41.895239896, -87.745814792)'),
 (5844831, 'HN647052', '10/14/2007 04:31:26 AM', '062XX S DREXEL AVE', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'GAS STATION', 'TRUE', 'FALSE', 313, 3, 20, 42, '18', 1183081, 1863726, 2007, '02/28/2018 03:56:25 PM', Decimal('41.78126375'), Decimal('-87.60432695'), '(41.781263748, -87.60432695)'),
 (3046354, 'HJ753917', '11/12/2003 01:40:00 AM', '052XX W ADDISON ST', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'GAS STATION', 'FALSE', 'FALSE', 1634, 16, 38, 15, '3', 1140892, 1923436, 2003, '02/28/2018 03:56:25 PM', Decimal('41.94599344'), Decimal('-87.75753456'), '(41.945993442, -87.757534561)'),
 (8875058, 'HV548880', '11/05/2012 11:15:00 AM', '067XX S STATE ST', '330', 'ROBBERY', 'AGGRAVATED', 'GAS STATION', 'FALSE', 'FALSE', 322, 3, 6, 69, '3', 1177438, 1860407, 2012, '02/10/2018 03:50:01 PM', Decimal('41.77228548'), Decimal('-87.62511546'), '(41.772285481, -87.625115462)'),
 (5827212, 'HN637742', '10/09/2007 12:20:00 PM', '025XX N PULASKI RD', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'GAS STATION', 'TRUE', 'FALSE', 2524, 25, 31, 22, '26', 1149288, 1916658, 2007, '02/28/2018 03:56:25 PM', Decimal('41.92723512'), Decimal('-87.72684967'), '(41.927235118, -87.726849666)')]

In [27]:
%%sql
SELECT community_area_name
FROM CENSUS
WHERE community_area_name LIKE 'B%'

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

In [34]:
%%sql
SELECT name_of_school 
FROM SCHOOL
WHERE healthy_school_certified='Yes'

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School',),
 ('Air Force Academy High School',),
 ('Ana Roque de Duprey Elementary School',),
 ('Calmeca Academy of Fine Arts and Dual Language',),
 ('Cyrus H McCormick Elementary School',),
 ('Eli Whitney Elementary School',),
 ('Francisco I Madero Middle School',),
 ('Hawthorne Elementary Scholastic Academy',),
 ('Irma C Ruiz Elementary School',),
 ('John A Walsh Elementary School',),
 ('John C Burroughs Elementary School',),
 ('Jose De Diego Elementary Community Academy',),
 ('Manuel Perez Elementary School',),
 ('Nathanael Greene Elementary School',),
 ('Rufus M Hitch Elementary School',),
 ('Sharon Christa McAuliffe Elementary School',)]

In [39]:
%%sql
SELECT AVG(safety_score)
FROM SCHOOL

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [18]:
%%sql
SELECT COMMUNITY_AREA_NAME, COLLEGE_ENROLLMENT
FROM SCHOOL
ORDER BY COLLEGE_ENROLLMENT DESC
LIMIT 10

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER', 4368),
 ('ARCHER HEIGHTS', 3320),
 ('NORWOOD PARK', 2922),
 ('BRIGHTON PARK', 2883),
 ('IRVING PARK', 2366),
 ('LINCOLN PARK', 2342),
 ('NEAR WEST SIDE', 2166),
 ('BELMONT CRAGIN', 1890),
 ('KENWOOD', 1852),
 ('GAGE PARK', 1846)]

In [35]:
%%sql
SELECT PER_CAPITA_INCOME ,COMMUNITY_AREA_NAME
FROM CENSUS
WHERE COMMUNITY_AREA_NAME IN
    (SELECT COMMUNITY_AREA_NAME FROM SCHOOL where Safety_Score=1)

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [23]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM SCHOOL
WHERE Safety_Score IN(SELECT MIN(Safety_Score)
                     FROM SCHOOL)

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

 * ibm_db_sa://zlt29062:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "SAFETY_SCORE" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: SELECT COMMUNITY_AREA_NAME FROM CENSUS WHERE Safety_Score IN(SELECT *
                                                            FROM SCHOOL
                                                            WHERE Safety_score=1)]
(Background on this error at: http://sqlalche.me/e/f405)